# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:modules|system)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L]

RewriteRule ^site/cache/thumbs/(.*)$ index.php/?controller=cms3/images&action=thumbnail&thumbnail=$1 [PT,L]

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]
