/* Form */
table.cms3-form {
    /*margin: 1em;*/
    width: 100%;
    border-spacing: 0 0.6em;
}

/* Input decoration */

div.cms3-field-editable td {
    padding: 0;
    margin: 0;
    border: none;
}

div.input-container {
    overflow: hidden;
    position: relative;
}

div.cms3-field-editable div.wrapper input,
div.cms3-field-editable textarea,
div.cms3-field-editable.select td,
div.cms3-field-editable div.input-container div.cms3-field-editable-options
{
    padding-left: 5px;
    padding-right: 5px;
}

div.cms3-field-editable {
    border: #999 solid 1px;
    background-color: white;
}

/* Field label */
table.cms3-form td.label {
    padding: 0.3em;
    padding-right: 0.5em;
    text-align: right;
    width: 1%;
    white-space: nowrap;
    vertical-align: top;
    font-size: 0.9em;
}

/* Field input */
div.cms3-field-editable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

div.cms3-field-editable td {
    width: 100%;
}

div.cms3-field-editable {
    position: relative;
}

div.cms3-field-editable input,
div.cms3-field-editable textarea {
    width: 100%;
    font-size: 0.9em;
    outline: none;

    margin: 0;
    border: none;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

div.cms3-field-editable input.hint {
    color: #999;
}

/* Text area */
div.cms3-field-editable textarea {
    height: 100px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

/* undo image*/
table.cms3-form td.undo {
    vertical-align: middle;
    text-align: center;
    width: 24px;
}

table.cms3-form td.undo div {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    background-image: url('/themes/admin/img/arrow-undo.png');
    background-position: center;
    background-repeat: no-repeat;
}

table.cms3-form td.undo div:hover {
    background-image: url('/themes/admin/img/arrow-undo-hover.png');
}

/* Input wrapper */

div.cms3-field-editable div.wrapper {
    padding-left: 10px;
}

div.cms3-field-editable div.wrapper input,
div.cms3-field-editable div.wrapper textarea{
    margin-left: -10px;
}

/* Select button */

div.cms3-field-editable.show-autocomplete td.select-button,
table.cms3-form td.select-button:hover {
    cursor: default;
    background-color: #CCC;
    border-left: #999 solid 1px;
}

/* Options */
div.cms3-field-editable-options {
    margin-top: 0.3em;
}

div.cms3-field-editable-options div {
    hite-space: nowrap;
    font-size: 0.9em;
    float: left;
    margin-right: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-color: #D9D9D9;
    border-radius: 1px;
    cursor: default;
}

div.cms3-field-editable div.input-container div.cms3-field-editable-options div {
    background-color: #EBEBEB;
}

div.cms3-field-editable-options div:hover {
    background-color: #FFC;
}

div.cms3-field-editable-options div span{
    display: inline-block;
    cursor: pointer;
    padding-left: 0.3em;
    border-left: #EBEBEB solid 1px;
}

div.cms3-field-editable div.input-container div.cms3-field-editable-options {
    position:absolute;
    top:0;
}

div.cms3-field-editable div.input-container div.cms3-field-editable-options.hover div {
    background-color: Highlight;
    color: HighlightText;
}

div.cms3-field-editable.select div.input-container div.cms3-field-editable-options {
    padding: 0;
}

/* Autocomplete block */

div.cms3-field-editable div.autocomplete {
    position: absolute;
    width: 100%;
    background-color: white;
    border: #999 solid 1px;
    margin-left: -1px;
    text-align: left;
    display: none;
    z-index: 1;
}

div.cms3-field-editable div.autocomplete ul {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.cms3-field-editable div.autocomplete li {
    padding-left: 5px;
    padding-top: 0.14em;
    padding-bottom: 0.14em;
    border-bottom: white solid 1px;
    border-top: white solid 1px;
    cursor: pointer;
}

div.cms3-field-editable div.autocomplete li.hover {
    background-color: #CCC;
    border-bottom: #999 solid 1px;
    border-top: #999 solid 1px;
}

div.cms3-field-editable div.autocomplete li:last-child {
    border-bottom: none;
}

div.cms3-field-editable div.autocomplete li:first-child {
    border-top: none;
}

div.cms3-field-editable.show-autocomplete div.autocomplete {
    display: block;
}

div.cms3-field-editable.show-autocomplete input {
    border-bottom: none;
}

/* Checkbox */

div.cms3-field-editable.checkbox {
    border: 0;
    background: none;
}

div.cms3-field-editable.checkbox td {
    text-align: left;
}

div.cms3-field-editable.checkbox input {
    width: 1em;
    height: 1em;
    border: #999 solid 1px;
    padding: 0;
    margin: 0;
}

div.cms3-field-editable input:focus {
    /*outline: #CCC solid 1px;*/
    /*-webkit-border-horizontal-spacing: 0px!important;
    -webkit-border-vertical-spacing: 0px!important;
    outline: red solid 1px;*/
}

div.cms3-field-editable.checkbox td.input {
    padding-right: 0.5em;
    vertical-align: middle;
}