/* Form */
table.cms3-form {
    /*margin: 1em;*/
    width: 100%;
}

table.cms3-form td {
    padding: 0;
    padding-top: 0.6em;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

/* Field caption */
table.cms3-form td.caption {
    padding-right: 0.5em;
    text-align: right;
    width: 1%;
    white-space:nowrap;
}

/* Field input*/

table.cms3-form td.input table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table.cms3-form td.input td {
    padding: 0.3em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    width: 100%;
}

table.cms3-form td.input div.input {
    position: relative;
    background-color: white;
    border: #999 solid 1px;
}

table.cms3-form td.input input {
    width: 100%;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

table.cms3-form td.input input.hint {
    color: #999;
}

/* Select button */
table.cms3-form td.select-button {
    cursor: default;
}

table.cms3-form div.input.show-autocomplete td.select-button,
table.cms3-form td.select-button:hover {
    background-color: #CCC;
    border-left: #999 solid 1px;
}


/* Autocomplete block */
table.cms3-form td.input div.autocomplete {
    position: absolute;
    width: 100%;
    margin-left: -1px;
    background-color: white;
    border: #999 solid 1px;
    text-align: left;
    display: none;
    z-index: 1;
}

table.cms3-form td.input div.autocomplete ul {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

table.cms3-form td.input div.autocomplete li {
    padding-left: 0.3em;
    padding-top: 0.14em;
    padding-bottom: 0.14em;
    border-bottom: white solid 1px;
    border-top: white solid 1px;
}

table.cms3-form td.input div.autocomplete li.hover {
    background-color: #CCC;
    border-bottom: #999 solid 1px;
    border-top: #999 solid 1px;
}

table.cms3-form div.input.show-autocomplete div.autocomplete {
    display: block;
}
/* CSS Document */

/*



table.cms3-form td.input {
    width: 100%;
}





table.cms3-form td.input div.wrapper {
    padding-left: 0.6em;
}







/* Select */

/*table.cms3-form td.input input {
    height: 15em;
}
table.cms3-form tr.field.select div.select-button {
table.cms3-form tr.field.select div.select-button div{
    height: 13.5em;
}

table.cms3-form tr.field.select div.select-button {
    /*width: 1.8em;*/
    /*height: 1.8em;*/
/*    right: 0;
    top: 0;
    position: absolute;

    display: table-cell;
    text-align: center;
    vertical-align: middle;

    /*padding: 0.1em;*/
    /*padding-right: 0.2em;
    padding-left: 0.2em;*/
/*}



table.cms3-form tr.field.select div.select-button span{
    /*font-size: 0.9em;
    text-align: center;
    vertical-align: middle;*/
/*}

table.cms3-form tr.field.select td.input input {
    padding-right: 2em;
    margin-left: -2.3em;
}

table.cms3-form tr.field.select td.input div.wrapper {
    padding-left: 2.3em;
}