.infoBoxWrapper						{margin:0px 0px 5px 0px;padding: 0px 8px 0px 8px;border:1px solid #fff;}
.infoBoxWrapper.list 				{}
.infoBoxHeading.title_off			{display:none;}
/*.list	{border:1px solid #dddddd;}*/
/* ************************************************************************************* */
.infoHeading,

.infoBoxWrapper .infoBoxHeading  			{color:#1e1f1f;font-weight:bold; font-size:1.666em; font-family:"Times New Roman", Times, serif;
  											 overflow:hidden;/*padding:8px 0px 5px 25px;*/margin: 0px 0px 0px 0px; position:relative;border:0px;}
.infoBoxWrapper .infoBoxHeading a 			{color:#1e1f1f;}
/*.infoBoxWrapper .infoBoxHeading .title-icon	{background:url('../image/infoBoxHeading_bg.png') 0px 0px no-repeat transparent; display:inline-block; width:16px; height:19px; position:absolute; top:8px; left:1px;}*/

.infoBoxWrapper .infoBoxContents 					{padding:10px 0px 12px 0px;}

.infoBoxWrapper.list   								{}
.infoBoxWrapper.list .infoBoxHeading  				{/*border-bottom:1px solid #e3e3e3; padding-top:17px; padding-bottom:15px; padding-left:24px;*/}
.infoBoxWrapper.list .infoBoxHeading .title-icon	{top:18px; left:1px;}	
.infoBoxWrapper.list .infoBoxContents 				{ padding-top:12px;}													
/* ************************************************************************************* */
.infoContents,

.infoBoxContents 									{ color:#353535; overflow:hidden;}
/* ************************************************************************************* */
.infoBoxWrapper.box2 				 				{}
.infoBoxWrapper.box2 .infoBoxHeading 				{}
.infoBoxWrapper.box2 .infoBoxContents 				{padding: 12px 0px 10px 0px; border-bottom:1px dotted #7f7f7f;}
/* ************************************************************************************* */
.box3  												{ background:#989898; border:1px solid #989898;}
.currencies.box3									{margin: 0px 0px 5px 0px; display:block;padding: 11px 10px 13px 14px;}
.currencies.box3 label								{color:#fff; font-size:1.5em; font-weight:normal; font-family:"Times New Roman", Times, serif;}
.infoBoxWrapper.box3  								{}
.infoBoxWrapper.box3 .infoBoxHeading				{}
.infoBoxWrapper.box3 .infoBoxHeading a				{}

.infoBoxWrapper.box3 .infoBoxHeading  				{}
.infoBoxWrapper.box3								{}
.infoBoxWrapper.box3 .infoBoxContents 				{padding: 10px 16px 10px 16px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxWrapper.cart_box  							{background:url('../image/cart_box_bg.gif') 10px 10px no-repeat #3a3a3a; border:1px solid #3a3a3a;}
.infoBoxWrapper.cart_box .box_wrapper				{}
.infoBoxWrapper.cart_box .infoBoxHeading			{color:#fff; font-weight:normal;padding-left:24px; padding-top:12px; background:none;}
.infoBoxWrapper.cart_box .infoBoxHeading a			{color:#fff;}
.infoBoxWrapper.cart_box .infoBoxHeading .title-icon{display:none;}

.infoBoxWrapper.cart_box .infoBoxContents 		    {padding: 0px 2px 12px 26px; font-family:"Times New Roman", Times, serif;}

.infoBoxWrapper.cart_box .infoBoxContents 			{ color:#fff; font-size:1.1em; line-height:1.1em;}
.infoBoxWrapper.cart_box .infoBoxContents strong	{color:#ff3067;}
.infoBoxWrapper.cart_box .infoBoxContents a			{ color:#fff;}
.infoBoxWrapper.cart_box .infoBoxContents a:hover	{ text-decoration:underline;}
.cart_box_separator									{border-bottom:1px solid #eeeeee;padding: 0px 0px 5px 0px; font-size:0em; line-height:0em;}
.cart_price_box										{padding: 10px 0px 0px 0px;}
SPAN.newItemInCart 									{font-size:1em;color: #fff;}
a:hover SPAN.newItemInCart 							{color: #ff3067;}
/* ************************************************************************************* */
.infoBoxWrapper.banner								{margin:0px 0px 3px 0px;padding:0px; border:0px solid #eeeeee;}
/* ************************************************************************************* */
.infoBoxContents li							{padding:0px 0px 0px 0px; width:100%;position:relative;}

.infoBoxContents li, 
.infoBoxContents li a, 
.infoBoxContents li a font					{font-weight:normal; vertical-align:top;}

.infoBoxContents li a b						{font-weight:bold;}									
.infoBoxContents ul							{list-style:none;padding:0;}
.infoBoxContents .categories				{margin:0px 0px 5px 0.7em;}
.infoBoxContents .bestsellers				{margin:0px 0px 5px 17px;}
.infoBoxContents .information				{margin:0px 0px 5px 17px;}
.infoBoxContents .manufacturers ul			{margin:0px 0px 5px 17px;}
.infoBoxContents li a strong,
.infoBoxContents li a 						{display:block; overflow:hidden;}
.infoBoxContents ul li .div 				{padding-left:16px;}

.infoBoxContents a						{}
.infoBoxContents li 					{ color:#7d7d7d; }
.infoBoxContents li:hover				{}
.infoBoxContents li a, .infoBoxContents li strong					{color:#292929; text-decoration:none; font-size:1.2em;
									 	 padding:2px 0px 3px 0; position:relative;}
.infoBoxContents li a:hover				{color:#ff3067; text-decoration:none;}
.infoBoxContents li a b					{color:#292929; font-weight:bold;margin: -2px 0px -3px -16px;padding: 2px 0px 3px 16px;text-decoration:none;display:block;}
.infoBoxContents li a:hover b			{color:#ff3067;}

.infoBoxContents li .list_bg,
.infoBoxContents li .category_arrow		{position:absolute;width:7px; height:8px; top:8px; right:0px; line-height:0px; font-size:0px;}
/*.infoBoxContents li .list_bg  			{position:absolute; width:7px; height:8px; top:8px; left:0;line-height:0px; font-size:0px;}*/

.infoBoxContents li .list_bg,
.infoBoxContents li .category_arrow		{background:url('../image/bg_list.png') 0px 0px no-repeat transparent;}/**/

										
.infoBoxContents li .list_bg  				{background-position:0 0px;}	
.infoBoxContents li:hover .list_bg  		{background-position:0 -8px;}										
.infoBoxContents li .category_arrow			{background-position:0 -16px;}
.infoBoxContents li:hover .category_arrow	{background-position:0 -24px;}										


.infoBoxContents li.last a					{border-top:0px solid #f0f0f0;}
/* ************************************************************************************* */
.infoBoxContents .bestsellers li 			{overflow:hidden;}
.infoBoxContents .bestsellers li:hover 		{}
.infoBoxContents .bestsellers li a 			{display:inline-block; width:190px; color:#817a7a; padding-left:5px;}
.infoBoxContents .bestsellers li b			{display:inline-block;float:left; color:#817a7a;padding: 7px 0px 8px 0px;}
.infoBoxContents .bestsellers li a:hover 	{color:#353535;}
.infoBoxContents .bestsellers li .list_bg	{ display:none;}
/* ************************************************************************************* */
.infoBoxContents .button_search			{width:20%; text-align:right;}
.infoBoxContents .text_search			{text-align:left; width:80%;}
.infoBoxContents .input					{color:#b9b9b9;margin:0px 0px 4px 0px;border:1px solid #ebeaea;background:#fafafa;height:20px; width:94%; line-height:19px; padding-left:5px; padding-right:5px;}

.infoBoxContents .advserch				{padding:5px 0px 0px 0px;}
.infoBoxContents .advserch a			{color:#464646;text-decoration:underline;font-size:1em; text-transform:lowercase;}
.infoBoxContents .advserch a:hover		{color:#353535;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents .name span a				{color:#010101;font-weight:normal;text-decoration:none; }
.infoBoxContents .name span a:hover			{color:#727272; text-decoration:none;}

.infoBoxContents SPAN.productSpecialPrice 		{color:#ed224f;font-size:2em;  line-height:1em; font-weight:normal;}
.infoBoxContents del							{color:#777777;font-size:2em; margin-top:0px; line-height:1em}
.cart_box
.infoBoxContents SPAN.productSpecialPrice 		{color:#ff3067; font-size:1.7em;}

.infoBoxContents .select					{width:100%; font-size:1em; border:1px solid #aeaeae; color:#5c5c5c; font-size:.9em;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents .name_padd							{padding:0px 0px 1px 0px;vertical-align:top; text-align:left;}
.infoBoxContents .pic_padd							{padding:0px 0px 0px 0px; text-align:left; background:#fff;}
.infoBoxContents .desc_padd							{padding:1px 0px 7px 0px;}
.infoBoxContents .block_padd						{padding:0px 0px 11px 0px;}
.infoBoxContents .price_padd						{padding:17px 10px 29px 0px;vertical-align:middle; text-align:left; border-bottom:0px solid #eeeeee;}
.infoBoxContents .price_padd b						{display:none; float:left; font-weight:normal;}
.infoBoxContents .button__padd						{padding:10px 0px 1px 0px; text-align:left; overflow:hidden;}
.infoBoxContents .button__padd a					{display:inline-block;}

.infoBoxContents .button__padd						{overflow:hidden; }
.infoBoxContents .button__padd a						{display:inline-block;}

.infoBoxContents .button__padd .button_content2		{ float:right;}
.infoBoxContents .button__padd .button_content22		{margin-bottom:3px; margin-right:6px; float:left;}


.infoBoxContents .stars_padd						{padding:5px 0px 15px 0px;}
/* ************************************************************************************* */
.box_icon					{display:block; float:left;padding:0px 20px 0px 0px;}
.box-padd					{padding: 5px 14px 3px 14px; overflow:hidden;}
/* ************************************************************************************* */
.headerBoxWrapper			{}
.headerBoxContents			{}
/* ************************************************************************************* */
.Footer_BoxWrapper 									{overflow:hidden;}
.Footer_BoxHeading									{display:none;}
.Footer_BoxWrapper h4								{padding: 16px 0px 0px 0px;margin: 10px 0px 0px 0px;}
.Footer_BoxWrapper h4								{color:#303030;font-weight:bold; }
.Footer_BoxWrapper ul								{padding: 0px 0px 0px 0px;margin: 1px 0px 0px -7px; list-style:none; overflow:hidden; float:left;}
.Footer_BoxWrapper li								{float:left;}
.Footer_BoxWrapper li a								{padding: 0px 7px 2px 7px; display:inline-block; font-size:1.1em;}

.Footer_BoxWrapper li a								{color:#fff; font-weight:normal; text-decoration:none;}
.Footer_BoxWrapper li.act a,
.Footer_BoxWrapper li a:hover						{color:#969696; text-decoration:none;}

.Footer_BoxWrapper li.first a						{background:none;}
/* ************************************************************************************* */
.banner_set						{list-style:none; overflow:hidden; padding:0;margin: 0px 0px 10px -5px; clear:both;}
.banner_set	li					{ display:block;margin: 0px 0px 0px 5px;padding: 0px 0px 0px 0px;float:left;}
.banner_set	li a				{display:block;}
.banner_set	li.first			{float:left;}
.banner_set	li.last				{float:left;} /*float:right;*/
.banner_set	li.first.last		{float:left;}

.banner,
.banner_set	li					 {line-height:0; font-size:0;}
